In [1]:
!pip install pandas
!pip install -U scikit-learn
!pip install graphviz

Requirement already satisfied: pandas in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: numpy>=1.21.0 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from pandas) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: scikit-learn in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (1.1.2)
Requirement already satisfied: joblib>=1.0.0 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (from scikit-learn) (1.23.3)
Requirement already satisfied: graphviz in /home/defive/anaconda3/envs/alura/lib/python3.10/site-packages (0.20.1)

In [2]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv'
dados = pd.read_csv(uri)
dicionario = {
    'mileage_per_year': 'milhas_ano',
    'model_year': 'ano_modelo',
    'price': 'preco',
    'sold': 'vendido'
}

dados = dados.rename(columns = dicionario)
dados.vendido = dados.vendido.map({ 'yes': 1, 'no': 0})
dados.head()

   Unnamed: 0  milhas_ano  ano_modelo      preco  vendido
0           0       21801        2000   30941.02        1
1           1        7843        1998   40557.96        1
2           2        7109        2006   89627.50        0
3           3       26823        2015   95276.14        0
4           4        7935        2014  117384.68        1

In [3]:
from datetime import datetime

ano_atual = datetime.today().year
dados['idade_modelo'] = ano_atual - dados['ano_modelo']
dados.head()

   Unnamed: 0  milhas_ano  ano_modelo      preco  vendido  idade_modelo
0           0       21801        2000   30941.02        1            22
1           1        7843        1998   40557.96        1            24
2           2        7109        2006   89627.50        0            16
3           3       26823        2015   95276.14        0             7
4           4        7935        2014  117384.68        1             8

In [4]:
dados['km_ano'] = dados['milhas_ano'] * 1.60934
dados.head()

,Unnamed: 0,milhas_ano,ano_modelo,preco,vendido,idade_modelo,km_ano
0,0,21801,2000,30941.02,1,22,35085.22134
1,1,7843,1998,40557.96,1,24,12622.05362
2,2,7109,2006,89627.50,0,16,11440.79806
3,3,26823,2015,95276.14,0,7,43167.32682
4,4,7935,2014,117384.68,1,8,12770.11290

In [5]:
dados = dados.drop(columns = ['Unnamed: 0', 'milhas_ano', 'ano_modelo'], axis=1)
dados.head()

       preco  vendido  idade_modelo       km_ano
0   30941.02        1            22  35085.22134
1   40557.96        1            24  12622.05362
2   89627.50        0            16  11440.79806
3   95276.14        0             7  43167.32682
4  117384.68        1             8  12770.11290

# Rodando LinearSVC

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import numpy as np

x = dados[['preco', 'idade_modelo', 'km_ano']]
y = dados['vendido']

SEED = 5
np.random.seed(SEED)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, stratify = y, test_size = 0.25)
print('Treinaremos com %d elementos e testaremos com %d elementos' % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100

print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 46.88%

/home/defive/anaconda3/envs/alura/lib/python3.10/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [7]:
from sklearn.dummy import DummyClassifier
dummy_stratified = DummyClassifier()
dummy_stratified.fit(treino_x, treino_y)
acuracia = dummy_stratified.score(teste_x, teste_y) * 100

print("A acurácia do dummy_stratified foi %.2f%%" % acuracia)

A acurácia do dummy_stratified foi 58.00%

In [8]:
from sklearn.dummy import DummyClassifier
dummy_mostfrequent = DummyClassifier()
dummy_mostfrequent.fit(treino_x, treino_y)
acuracia = dummy_mostfrequent.score(teste_x, teste_y) * 100

print("A acurácia do dummy_mostfrequent foi %.2f%%" % acuracia)

A acurácia do dummy_mostfrequent foi 58.00%

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

SEED = 5
np.random.seed(SEED)
raw_treino_x, raw_teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

scaler = StandardScaler()
scaler.fit(raw_treino_x)
treino_x = scaler.transform(raw_treino_x)
teste_x = scaler.transform(raw_teste_x)

modelo = SVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 77.48%

Utilizando a scaller há muito ganho de acurácia

# Árvores de decisão

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

SEED = 5
np.random.seed(SEED)
raw_treino_x, raw_teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

scaler = StandardScaler()
scaler.fit(raw_treino_x)
treino_x = scaler.transform(raw_treino_x)
teste_x = scaler.transform(raw_teste_x)

modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 76.84%

In [13]:
from sklearn.tree import export_graphviz
import graphviz

features = x.columns
dot_data = export_graphviz(modelo, out_file=None, feature_names = features, filled = True, rounded = True, class_names = ['não', 'sim'])
grafico = graphviz.Source(dot_data)
grafico