In [1]:
import pandas as pd

## Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha' + str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [7]:
s = pd.Series(data, index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [10]:
data = { 'Linha ' + str(i) : i+1 for i in range(5)}

In [11]:
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [12]:
s = pd.Series(data)

In [13]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [14]:
s1 = s + 2

In [15]:
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [16]:
s2 = s + s1

In [17]:
s2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

# DataFrame

In [18]:
data =[[1,2,3], [4,5,6], [7,8,9]]

In [19]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
df1 = pd.DataFrame(data)

In [21]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
index = ['Linha' + str(i) for i in range(3)]

In [23]:
index

['Linha0', 'Linha1', 'Linha2']

In [24]:
index = ['Linha ' + str(i) for i in range(3)]

In [25]:
index

['Linha 0', 'Linha 1', 'Linha 2']

In [26]:
df1 = pd.DataFrame(data, index)

In [27]:
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [28]:
columns = ['Coluna ' + str(i) for i in range(3)]

In [29]:
columns

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [30]:
df1 = pd.DataFrame(data, index, columns)

In [31]:
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [32]:
 data = {'Coluna ' + str(i) : i+1 for i in range(3): { 'Linha ' + str(i) : i+1 for i in range(3)}}

SyntaxError: invalid syntax (<ipython-input-32-76104eba4420>, line 1)

In [33]:
 data = {'Coluna ' + str(i) : i+1 for i in range(3) { 'Linha ' + str(i) : i+1 for i in range(3)}}

SyntaxError: invalid syntax (<ipython-input-33-e7d53db9e96d>, line 1)

In [35]:
df1[df1 > 0] = 'A'

In [36]:
df1

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A

## Exercicios

### 1

In [37]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

/home/defive/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0